body {
    font-size: larger;
    color: black;
    background-color: gray;
    text-align: center;
}

section { 
    background-color: white;
    border-radius: 50px;
    padding:15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 10px black;
}

footer {
    font-size: larger;
}

